#bookmark
  %h1#book-title= book.title
  #cover-and-info
    #cover-container
      %img#cover-image{:src => book.cover_image_url}
    #info-container
      %h3 Started
      %h3 Finished
  %hr
  #notes
    %h3 Notes