!!! 5

%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/printer-bookmarks.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://printer.gofreerange.com/stylesheets/print.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %body.preview
    .paper
      .content
        = yield