!!! 5

%html
  %head
    %link{:rel => "stylesheet", :href => "http://printer.gofreerange.com/stylesheets/print.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
    :css
      label {
        font-weight: bold;
      }
      input[type=text] {
        width: 370px;
      }
      .hint {
        font-size: 90%;
        color: #444;
      }
      #notes {
        min-height: 300px;
      }
      #cover-and-title {
        overflow: auto;
      }
      #cover-container, #title-container {
        width: 50%;
        float: left;
      }
      #cover-image {
        width: 100%;
      }
      #title-container h1 {
        margin-top: 0;
      }
  %body.preview
    .paper
      .content
        = yield