!!! 5

%html
  %head
    %link{:rel => "stylesheet", :href => "http://printer.gofreerange.com/stylesheets/print.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
    :css
      input[type=text] {
        width: 370px;
      }
  %body.preview
    .paper
      .content
        = yield